# dev stuff
# nothing here for now

# Vite
*.vite
vite.config.ts.timestamp*

# Builds and stuff
dist/
build/
*.cache

# Logs
logs
*.log
*.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
*.pem
*.crt
*.key

# stupid
*.DS_STORE