# builds and stuff
build/
*.cache

# logs
logs/
*.log
*.log*

# npm dependencies
node_modules/

# configuration files
config.json
.env
*.pem
*.crt
*.key

# stupid
*.DS_STORE

# idk what this is but it's not supposed to be here
.idea/

# buh
.vscode/*