# dev stuff
accit-server/localhost-key.pem
accit-server/localhost.pem
accit-server/local-database.json
.local

# Vite
*.vite

# Builds and stuff
dist/

# Logs
logs
*.log
*.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local