#logsContainer {
    width: 60vw;
    margin: 16px 16px;
}

#logs {
    width: 60vw;
    height: calc(100vh - 140px);
    margin: 0px 0px;
    overflow-y: scroll;
    resize: none;
}

#refreshLogsButton {
    width: calc(60vw + 12px);
    margin: 0px 0px;
}