#mainContainer {
    display: grid;
    grid-template-columns: 60vw 1fr;
}

#logsContainer {
    box-sizing: border-box;
    width: 60vw;
    padding: 16px 16px;
}

#logs {
    width: 100%;
    height: calc(100vh - 160px);
    margin: 0px 0px;
    text-wrap: nowrap;
    overflow-y: scroll;
    resize: none;
}

#refreshLogsButton {
    width: calc(100% + 12px);
    margin: 0px 0px;
}

#lastRefresh {
    height: 20px;
    margin: 0px;
}